:root {
/* Sizes (width/height/etc) */
--size-3xs: 1rem;
--size-2xs: 1.5rem;
--size-xs: 2.25rem;
--size-s: 3.5rem;
--size-sm: 5rem;
--size-m: 7.5rem;
--size-ml: 11.5rem;
--size-l: 17rem;
--size-xl: 26rem;
--size-2xl: 39rem;
--size-3xl: 58rem;
--size-4xl: 87rem;
--size-5xl: 130rem;
--size-6xl: 195rem;
--size-7xl: 290rem;
--size-auto: auto;

/* Padding */
--padding-3xs: 0.125rem;
--padding-2xs: 0.25rem;
--padding-xs: 0.375rem;
--padding-s: 0.5rem;
--padding-sm: 0.75rem;
--padding-m: 0.875rem;
--padding-ml: 1.25rem;
--padding-l: 1.75rem;
--padding-xl: 2.5rem;
--padding-2xl: 3.5rem;
--padding-3xl: 5rem;
--padding-4xl: 7rem;
--padding-5xl: 10rem;
--padding-6xl: 14rem;
--padding-7xl: 20rem;

/* Margin */
--margin-3xs: 0.125rem;
--margin-2xs: 0.25rem;
--margin-xs: 0.375rem;
--margin-s: 0.5rem;
--margin-sm: 0.75rem;
--margin-m: 0.875rem;
--margin-ml: 1.25rem;
--margin-l: 1.75rem;
--margin-xl: 2.5rem;
--margin-2xl: 3.5rem;
--margin-3xl: 5rem;
--margin-4xl: 7rem;
--margin-5xl: 10rem;
--margin-6xl: 14rem;
--margin-7xl: 20rem;

/* Border width (unchanged) */
--border-width-xs: 0.025rem;
--border-width-s: 0.05rem;
--border-width-m: 0.1rem;
--border-width-l: 0.2rem;
--border-width-xl: 0.4rem;

/* Border radius */
--border-radius-0: 0rem;
--border-radius-3xs: 0.0125rem;
--border-radius-2xs: 0.025rem;
--border-radius-xs: 0.05rem;
--border-radius-s: 0.1rem;
--border-radius-sm: 0.2rem;
--border-radius-m: 0.4rem;
--border-radius-ml: 0.8rem;
--border-radius-l: 1.6rem;
--border-radius-xl: 3.2rem;
--border-radius-2xl: 6.4rem;
--border-radius-3xl: 12.8rem;
--border-radius-4xl: 25.6rem;
--border-radius-5xl: 51.2rem;
--border-radius-6xl: 102.4rem;
--border-radius-7xl: 204.8rem;
--border-radius-full: 9999rem;

/* Fonts */
--font-3xs: 0.65rem;
--font-2xs: 0.7rem;
--font-xs: 0.75rem;
--font-s: 0.8rem;
--font-sm: 0.9rem;
--font-m: 1rem;
--font-ml: 1.1rem;
--font-l: 1.2rem;
--font-xl: 1.3rem;
--font-2xl: 1.5rem;
--font-3xl: 1.7rem;
--font-4xl: 2rem;
--font-5xl: 2.5rem;
--font-6xl: 3rem;
--font-7xl: 4rem;
}


[data-theme="dark"]:root {
    --background: rgb(0 0 0);
    --text: rgb(0 0 0);

    /* Button-Primary */
    --button-primary-text: rgb(0 0 0);
    --button-primary: rgb(255, 255, 255);
    --button-primary-hover: rgb(219, 219, 219);
    --button-primary-active: rgb(194, 194, 194);
}


* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: transparent;
    color: var(--text);
    border-width: 0px;

    box-sizing: border-box;
}

*:not(head) {
    position: relative;
    padding: 0rem;
}

html, body, #root {
    display: flex;

    min-width: 100%;
    min-height: 100%;

    width: auto;
    height: auto;

    flex-basis: 100%;
    flex-grow: 1;

    background-color: var(--background);
}

/* Layer */

.layer {
    position: absolute;
    inset: 0;
}

/* Containers */
.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


/* Buttons */
.button-wrapper {
    display: flex;
    flex-direction: row;
}

.button {
    padding-top: var(--padding-s);
    padding-bottom: var(--padding-s);
    padding-left: var(--padding-l);
    padding-right: var(--padding-l);

    border-radius: var(--border-radius-full);
}

.button--primary {
    color: var(--button-primary-text);
    background-color: var(--button-primary);
}

.button-wrapper:hover .button--primary {
    background-color: var(--button-primary-hover);
}

.button-wrapper:active .button--primary {
    background-color: var(--button-primary-active);
}